<h2>Edit Player</h2>
<form action="/players/<%= player.id %>?_method=PUT" method="POST">
  <%- include("./_form_fields.ejs") %>
  <input type="submit" value="Save Changes" />
  <a class="cancelButton" href="/players/<%= player.id %>">Cancel</a>
</form>
