<footer>
  <div class="footer">
    <div class="footerText">© 2023 Mateusz Polis</div>
    <div class="footerSocial">
      <a href="https://www.linkedin.com/in/mateuszpolis/" target="blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/mateuszpolis" target="blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="mailto:polismateusz@gmail.com" target="blank">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>
