<header>
  <nav class="top-nav">
    <ul>
      <li class="homeButton"><a class="homeButton" href="/">HOME</a></li>
      <li><a href="/players">Players</a></li>
      <li class="plusOption">
        <a class="plusOption" href="/players/new">+</a>
      </li>
      <li><a href="/matches">Matches</a></li>
      <li class="plusOption">
        <a class="plusOption" href="/matches/new">+</a>
      </li>
      <li><a href="/tournaments">Tournaments</a></li>
      <li class="plusOption">
        <a class="plusOption" href="/tournaments/new">+</a>
      </li>
      <li><a href="/stats">Stats</a></li>
    </ul>
  </nav>
</header>
