<div>
  <h1>
    Create, manage, and then analyze a Tennis database of players, matches and
    tournaments.
  </h1>
  <h2>How to use:</h2>
  <h3>Players</h3>
  <p>
    /players - search for players
    <br />
    /players/new - create a new player
    <br />
    /players/:id - view a player
    <br />
    /players/:id/edit - edit a player
  </p>
  <h3>Matches</h3>
  <p>
    /matches - search for matches
    <br />
    /matches/new - create a new match
    <br />
    /matches/:id - view a match
    <br />
    /matches/:id/edit - edit a match
  </p>
  <h3>Tournaments</h3>
  <p>
    /tournaments - search for tournaments
    <br />
    /tournaments/new - create a new tournament
    <br />
    /tournaments/:id - view a tournament
    <br />
    /tournaments/:id/edit - edit a tournament
  </p>
  <h3>Stats</h3>
  <p>/stats - analyze matches and win percentages with various filters</p>
</div>
