.backButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00492e;
  color: white;

  border: 0px;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin: 0;
  margin-right: 5px;

  transition: 0.1s;
}

.backButton i {
  color: white;

  transition: 0.1s;
}

.backButton:hover i {
  color: black;
}

.backButton:hover {
  background-color: #6a9484;
}