.editButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;
  color: white;

  border: 0px;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin: 0;
  margin-right: 5px;

  transition: 0.1s;
}

.editButton i {
  color: black;

  transition: 0.1s;
}

.editButton:hover i {
  color: white;
}

.editButton:hover {
  background-color: #e28355;
}
