<h2>Search stats</h2>
<br />
<p>All matches: <%= stats.allMatches %></p>
<p>
  Matches where players with better physical biorythm win: <%=
  stats.biorythmPhysical %>
</p>
<p>Percentage: <%= (stats.biorythmPhysical / stats.allMatches) * 100 %>%</p>
